<!-- Header START -->
<header class="navbar-light navbar-sticky header-static">
	<!-- Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container-fluid px-3 px-xl-5">
			<!-- Logo START -->
			<a class="navbar-brand" href="index.html">
				<img class="light-mode-item navbar-brand-item" src="assets/images/logo.svg" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="assets/images/logo-light.svg" alt="logo">
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse w-100 collapse" id="navbarCollapse">

				<!-- Nav category menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">
					<!-- Nav item 1 Demos -->
					<li class="nav-item dropdown dropdown-menu-shadow-stacked">

					</li>
				</ul>
				<!-- Nav category menu END -->

				<!-- Nav Main menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">
				</ul>
				<!-- Nav Main menu END -->

				<!-- Nav Search START -->
				<div class="nav my-3 my-xl-0 px-4 flex-nowrap align-items-center">
					<div class="nav-item w-100">
					</div>
				</div>
				<!-- Nav Search END -->
			</div>
			<!-- Main navbar END -->

			<div class="navbar-nav ms-2">
				<button routerLink="/signin" class="btn btn-sm btn-dark-soft mb-0"><i class="bi bi-power me-2"></i>Se connecter</button>
			</div>

		</div>
	</nav>
	<!-- Nav END -->
</header>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>
	<section class="p-0 d-flex align-items-center position-relative overflow-hidden">
	
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-lg-6 m-auto">
					<div class="row my-5">
						<div class="col-sm-10 col-xl-8 m-auto">
							<!-- Title -->
							<img src="assets/images/element/03.svg" class="h-40px mb-2" alt="">
							<h2>Créez votre compte !</h2>
							<p class="lead mb-4">Ravi de vous voir! Veuillez vous inscrire avec votre compte.</p>
						
							<!-- Form START -->
							<form [formGroup]="registerForm" (ngSubmit)="register()">
                                <!-- Nom -->
								<div class="mb-4">
									<label for="exampleInputNom" class="form-label">Nom *</label>
									<div class="input-group input-group-lg">
										<span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="fas fa-user-graduate"></i></span>
										<input type="text" class="form-control border-0 bg-light rounded-end ps-1" placeholder="Nom" id="exampleInputNom" formControlName="nom">
                                        <span class="text text-danger" *ngIf="registerForm.controls['nom'].invalid && registerForm.controls['nom'].touched">First Name is required and</span>
									</div>
								</div>
                                <!-- Prénom -->
								<div class="mb-4">
									<label for="exampleInputPrenom" class="form-label">Prénom *</label>
									<div class="input-group input-group-lg">
										<span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="fas fa-user-graduate"></i></span>
										<input type="text" class="form-control border-0 bg-light rounded-end ps-1" placeholder="Prénom" id="exampleInputPrenom" formControlName="prenom">
									</div>
								</div>
                                <!-- Cin -->
								<div class="mb-4">
									<label for="exampleInputCin" class="form-label">Carte d'identité nationale *</label>
									<div class="input-group input-group-lg">
										<span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="fas fa-address-card"></i></span>
										<input type="number" class="form-control border-0 bg-light rounded-end ps-1" placeholder="Carte d'identité nationale" id="exampleInputCin" formControlName="cin">
									</div>
								</div>
                                <!-- DateNaissance -->
								<div class="mb-4">
									<label for="exampleInputDateNaissance" class="form-label">Date de naissance *</label>
									<div class="input-group input-group-lg">
										<span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="fas fa-calendar-alt"></i></span>
										<input type="date" class="form-control border-0 bg-light rounded-end ps-1" placeholder="Date de naissance" id="exampleInputDateNaissance" formControlName="dateNaissance">
									</div>
								</div>
                                <!-- Image -->
								<div class="mb-4">
									<label for="exampleInputImage" class="form-label">Photo de profil *</label>
									<div class="input-group input-group-lg">
										<span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="fas fa-file-image"></i></span>
										<input type="file" class="form-control border-0 bg-light rounded-end ps-1" id="exampleInputImage" (change)="onFileSelected($event)">
									</div>
								</div>
                                <!-- Ecole -->
								<div class="mb-4">
									<label for="exampleInputEcole" class="form-label">École *</label>
									<div class="input-group input-group-lg">
									  <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="fas fa-school"></i></span>
									  <select class="border-0 bg-light rounded-end ps-1 form-select border-0 z-index-9" id="exampleInputEcole" formControlName="universite">
										<option value="" disabled>Selectionner votre université</option>
										<option *ngFor="let universite of listUniversite" [value]="universite.idUniversite">{{ universite.nomUniversite }}</option>
									  </select>
									</div>
								</div>
								<!-- Email -->
								<div class="mb-4">
									<label for="exampleInputEmail1" class="form-label">Adresse e-mail *</label>
									<div class="input-group input-group-lg">
										<span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="bi bi-envelope-fill"></i></span>
										<input type="email" class="form-control border-0 bg-light rounded-end ps-1" placeholder="E-mail" id="exampleInputEmail1" formControlName="email">
									</div>
								</div>
								<!-- Password -->
								<div class="mb-4">
									<label for="inputPassword5" class="form-label">Mot de passe *</label>
									<div class="input-group input-group-lg">
										<span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="fas fa-lock"></i></span>
										<input type="password" class="form-control border-0 bg-light rounded-end ps-1" placeholder="*********" id="inputPassword5" formControlName="password">
                                        <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3" onclick="Changer()"><i class="far fa-eye cursor-pointer p-2 w-40px"></i></span>
									</div>
								</div>
								<!-- Button -->
								<div class="align-items-center mt-0">
									<div class="d-grid">
										<button class="btn btn-primary mb-0" type="submit">S'inscrire</button>
									</div>
								</div>
							</form>
							<!-- Form END -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer class="pt-5">
	<div class="container">
		<!-- Row START -->
		<div class="row g-4">

			<!-- Widget 1 START -->
			<div class="col-lg-12">
				<!-- logo -->
				<a class="me-0 d-lg-flex justify-content-center align-items-cente" href="index.html">
					<img class="light-mode-item h-40px" src="assets/images/logo.svg" alt="logo">
					<img class="dark-mode-item h-40px" src="assets/images/logo-light.svg" alt="logo">
				</a>
				<!-- Social media icon -->
				<ul class="list-inline mb-0 mt-3 d-lg-flex justify-content-center align-items-cente">
					<br><br>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-facebook" href="#"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-instagram" href="#"><i class="fab fa-fw fa-instagram"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-twitter" href="#"><i class="fab fa-fw fa-twitter"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-linkedin" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
				</ul>
			</div>
			<!-- Widget 1 END -->
		</div>

		<!-- Divider -->
		<hr class="mt-4 mb-0">

		<!-- Bottom footer -->
		<div class="py-3">
			<div class="container px-0">
				<div class="d-lg-flex justify-content-center align-items-center py-3 text-center text-md-left">
					<!-- copyright text -->
					<div class="text-body text-primary-hover"> Copyrights ©2023 ESPRIT.</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- =======================
Footer END -->