.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.modal-container {
  max-width: 600px;
  width: 100%;
  background-color: #fff; /* Set your preferred background color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
