<div class="container custumer_section">
    <p class="text-justify custum_description_section"><strong>Cette section est specifié pour vous permettre d'affecter
            des chambres a un bloc
            bien définit, noter bien que une chambre ne peut pas etre affectée que à un seul bloc.
            chers administrateur...
        </strong></p>
    <div class="card">
        <div class="col-12 col-md-12">
            <div class="mb-3 p-4">
                <label for="Foyer" class="mb-4 p-1">Bloc :</label>
                <select class="form-select form-select-lg mb-3 " formControlName="idFoyer">
                    <option></option>
                </select>
            </div>


            <div class="my-3 p-3">


            </div>
        </div>

    </div>
</div>