<div class="container mt-4 text-center">
   <div class="card p-4">
     <h1 class="font-weight-bold">{{ action }} Universite</h1>
     <form #f="ngForm">
       <div class="form-group col-md-6 mx-auto">
         <label class="font-weight-bold">Name:*</label>
         <input type="text" name="nomUni" [(ngModel)]="universite.nomUniversite" class="form-control"
           required minlength="3" pattern="[A-Za-z]{3,100}" #n="ngModel">
         <div class="alert alert-danger mt-2" *ngIf="n.invalid && n.touched">
           <div *ngIf="n.hasError('required') || n.hasError('minlength') || n.hasError('pattern')">
             Please enter a valid name (min length: 3, alphabetic characters only).
           </div>
         </div>
       </div>
       <div class="form-group col-md-6 mx-auto">
         <label class="font-weight-bold">Adresse</label>
         <input type="text" name="adresse" [(ngModel)]="universite.adresse" class="form-control" required #p="ngModel">
         <div class="alert alert-danger mt-2" *ngIf="p.invalid && p.touched">
           <div *ngIf="p.hasError('required')">
             Please enter the address.
           </div>
         </div>
       </div>
 
       <div class="mt-4">
         <button class="btn btn-sm btn-warning" (click)="goBack()">
           <span class="font-weight-bold"><i class="bi bi-arrow-left"></i> Back</span>
         </button>
         &nbsp;
         &nbsp;
         &nbsp;
         &nbsp;
         &nbsp;
         &nbsp;
         &nbsp;
         &nbsp;
         &nbsp;
         &nbsp;
         &nbsp;
         &nbsp;
         &nbsp;
         &nbsp;
         <span class="ml-3"></span> <!-- Adjust the spacing as needed -->
 
         <button (click)="add()" class="btn btn-sm btn-success" [disabled]="f.invalid">
           <span class="font-weight-bold">{{ action }}</span>
         </button>
       </div>
     </form>
   </div>
 </div>
 