
    <title>Add Your Foyer</title>
    <style>
      
        .container {
            text-align: center;
            margin-top: 10rem;
        }

        h1 span {
            margin-right: 100px; 
        }

        table {
            margin-top: 20px;
            width: 80%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        tr{}

        th, td {
            border: 0.05px solid #a5a2a2;
            padding: 5px;
            text-align:center;
        }

        th {
            background-color: #d9dadb;
        }

        .btn-container {
            display: flex;
            justify-content: center; 
            align-items: center;
        }

        .btn-container button {
            margin: 10px;
        }
    </style>

<body>
    <div class="container text-center mt-3">
        <h1>
            <span>Add</span>
            <span> </span>
            <span>your</span>
            <span> </span>
            <span>Foyer</span>
            <span> </span>
        </h1>
        
        <table class="table">
            <thead>
                <tr>
                    <th >Nom Foyer</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                
                <tr *ngFor="let f of foyer">
                    <ng-container>
                        <td>{{ f.nomFoyer }}</td>
                        <td class="btn-container">
                            <button class="btn btn-success btn-sm" style="text-decoration: none; padding: 5px 10px;" (click)="affecterFoyer(f.idFoyer)">
                                <i class="bi bi-house-door"></i> Affect university to Foyer
                            </button>
                            <button class="btn btn-sm btn-danger" style="text-decoration: none; padding: 5px 10px;" (click)="desaffecterFoyer()">
                                <i class="bi bi-trash2"></i> Desaffect university to Foyer
                            </button>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>

    <button class="btn btn-sm btn-warning" (click)="goBack()">
        <span class="font-weight-bold"><i class="bi bi-arrow-left"></i> Back</span>
      </button>
</body>

