<div class="page-content-wrapper border">

    <!-- Title -->
    <div class="row mb-3">
        <div class="col-12 d-sm-flex justify-content-between align-items-center">
            <h1 class="h3 mb-2 mb-sm-0">Liste des universités</h1>
            <a class="btn btn-sm btn-primary-soft mb-0" data-bs-toggle="modal" data-bs-target="#addNewcard">Ajouter
                université</a>
        </div>
    </div>


    <div class="card bg-transparent border">

        <!-- Card header START -->
        <div class="card-header bg-light border-bottom">
            <!-- Search and select START -->
            <div class="row g-3 align-items-center justify-content-between">

                <!-- Search bar -->
                <div class="col-md-8">
                    <form class="rounded position-relative">
                        <input class="form-control bg-transparent" [(ngModel)]="rechercheUniversite"
                            name="rechercheUniversite" type="search" placeholder="Entrez le nom de l'université"
                            aria-label="Search">
                        <button
                            class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset"
                            type="submit">
                            <i class="fas fa-search fs-6 "></i>
                        </button>
                    </form>
                </div>

            </div>
            <!-- Search and select END -->
        </div>
        <!-- Card header END -->

        <!-- Card body START -->
        <div class="card-body">

            <!-- Table START -->
            <div class="table-responsive border-0 rounded-3">
                <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
                    <!-- Table head -->
                    <thead>
                        <tr>
                            <th scope="col" class="border-0 rounded-start">Nom de l'université</th>
                            <th scope="col" class="border-0">Adresse de l'université</th>
                            <th scope="col" class="border-0">Foyer associée à l'université</th>
                            <th scope="col" class="border-0 rounded-end">Action</th>
                        </tr>
                    </thead>

                    <!-- Table body START -->
                    <tbody *ngFor="let universite of listUniversite | rechercheUniversite: rechercheUniversite">

                        <!-- Table row -->
                        <tr>

                            <!-- Table data -->
                            <td>
                                <h6 class="table-responsive-title mb-0">{{universite.nomUniversite}}</h6>
                            </td>

                            <!-- Table data -->
                            <td>
                                <h6 class="table-responsive-title mb-0">{{universite.adresse}}</h6>
                            </td>

                            <!-- Table data -->
                            <td>
                                <!-- Condition pour vérifier si le foyer est associé ou non -->
                                <span
                                    *ngIf="universite.foyer && universite.foyer.nomFoyer !== 'Non associé'; else notAssociated">
                                    <h6 class="table-responsive-title mb-0">{{universite.foyer.nomFoyer}}</h6>
                                </span>
                                <!-- Template pour 'Non associé' -->
                                <ng-template #notAssociated>
                                    <h6 class="badge bg-danger bg-opacity-10 text-danger">Non associé</h6>
                                </ng-template>
                            </td>


                            <!-- Table data -->
                            <td>
                                <a (click)="openEditModal(universite)" data-bs-toggle="modal"
                                    data-bs-target="#updateNewcard"
                                    class="btn btn-success-soft btn-round me-1 mb-1 mb-md-0">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a (click)="deleteUniversite(universite.idUniversite)"
                                    class="btn btn-danger-soft btn-round me-1 mb-1 mb-md-0" data-bs-toggle="tooltip"
                                    data-bs-placement="top" title="" data-bs-original-title="Delete">
                                    <i class="bi bi-trash"></i>
                                </a>

                                <!-- If universite.foyer.nomFoyer has a value, display the "Désaffecter" button -->
                                <span *ngIf="universite.foyer && universite.foyer.nomFoyer; else affecterFoyer">
                                    <a (click)="desaffecterFoyerAUniversite(universite.idUniversite)"
                                        class="btn btn-sm btn-danger-soft mb-0">Désaffecter</a>
                                </span>

                                <!-- ng-template with the #affecterFoyer label for the "else" clause -->
                                <ng-template #affecterFoyer>
                                    <a (click)="openAffectModal(universite)" class="btn btn-sm btn-info-soft mb-0 me-1" data-bs-toggle="modal" data-bs-target="#getNewcard">Affecter</a>
                                </ng-template>

                            </td>
                        </tr>

                    </tbody>
                    <!-- Table body END -->
                </table>
            </div>
            <!-- Table END -->

        </div>
        <!-- All review table END -->

    </div>



    <!-- Popup modal for add card -->
    <div class="modal fade" id="addNewcard" tabindex="-1" aria-labelledby="addNewcardLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white" id="addNewcardLabel">Ajouter université</h5>
                    <button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal"
                        aria-label="Close"><i class="bi bi-x-lg"></i></button>
                </div>
                <div class="modal-body">
                    <form class="row text-start g-3" [formGroup]="UniversiteForm">

                        <div class="col-12">
                            <label class="form-label">Nom de l'université</label>
                            <input type="text" class="form-control" formControlName="nomUniversite"
                                placeholder="Entrez le nom de l'université">
                        </div>
                        <div class="col-12">
                            <label class="form-label">Adresse de l'université</label>
                            <input type="text" class="form-control" formControlName="adresse"
                                placeholder="Entrez l'adresse de l'université">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="!UniversiteForm.valid" (click)="ajouerUniversite()"
                        data-bs-dismiss="modal" aria-label="Close" class="btn btn-success my-0">Ajouter</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Popup modal for add card -->
    <div class="modal fade" id="updateNewcard" tabindex="-1" aria-labelledby="addNewcardLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white" id="addNewcardLabel">Modifier université</h5>
                    <button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal"
                        aria-label="Close"><i class="bi bi-x-lg"></i></button>
                </div>
                <div class="modal-body">
                    <form class="row text-start g-3" [formGroup]="UniversiteForm">

                        <div class="col-12">
                            <label class="form-label">Nom de l'université</label>
                            <input type="text" class="form-control" formControlName="nomUniversite">
                        </div>
                        <div class="col-12">
                            <label class="form-label">Adresse de l'université</label>
                            <input type="text" class="form-control" formControlName="adresse">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" (click)="updateUniversite()" data-bs-dismiss="modal" aria-label="Close"
                        class="btn btn-success my-0">Modifier</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup modal for add card -->
    <div class="modal fade" id="getNewcard" tabindex="-1" aria-labelledby="addNewcardLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white" id="addNewcardLabel">Affecter université à un foyer</h5>
                    <button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal"
                        aria-label="Close"><i class="bi bi-x-lg"></i></button>
                </div>
                <div class="modal-body">
                    <form class="row text-start g-3">
                        <!-- Card number -->
                        <div class="col-12">
                            <label class="form-label">Foyer <span class="text-danger">*</span></label>
                            <select class="border-0 bg-light rounded-end ps-1 form-select border-0 z-index-9" [(ngModel)]="selectedFoyerId" name="selectedFoyerId">
                                <option value="" disabled>Selectionner un foyer</option>
                                <option *ngFor="let foyer of listFoyerWithoutUniversite" [value]="foyer.idFoyer">{{ foyer.nomFoyer }}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" data-bs-dismiss="modal" aria-label="Close"
                        class="btn btn-success my-0" [disabled]="selectedFoyerId === null || selectedUniversite === null" (click)="affecterFoyerAUniversite()">Affecter</button>
                </div>
            </div>
        </div>
    </div>