<!-- Edit profile START -->
<div class="card bg-transparent border rounded-3">
    <!-- Card header -->
    <div class="card-header bg-transparent border-bottom">
        <h3 class="card-header-title mb-0">Edit Profile</h3>
    </div>
    <!-- Card body START -->
    <div class="card-body">
        <!-- Form -->
        <form class="row g-4" [formGroup]="updateForm" (ngSubmit)="updateEtudiant()">

            <!-- Profile picture -->
            <div class="col-12 justify-content-center align-items-center">
                <label class="form-label">Image de profil</label>
                <div class="d-flex align-items-center">
                    <label class="position-relative me-4" for="uploadfile-1" title="Replace this pic">
                        <!-- Avatar place holder -->
                        <span class="avatar avatar-xl">
                            <img id="uploadfile-1-preview"
                                class="avatar-img rounded-circle border border-white border-3 shadow"
                                src="http://localhost:8089/GestionFoyer/auth/{{userconnect.image}}" alt="">
                        </span>
                    </label>
                    <!-- Upload button -->
                    <input id="uploadfile-1" class="form-control d-none" type="file" name="image" (change)="handleFileInput($event)">
                    <button class="btn btn-primary-soft mb-0" (click)="updateImgEtudiant()">Change</button>
                </div>
            </div>

            <!-- Full name -->
            <div class="col-md-6">
                <label class="form-label">Nom</label>
                <input class="form-control" type="text" formControlName="nom">
            </div>

            <div class="col-md-6">
                <label class="form-label">Prénom</label>
                <input class="form-control" type="text" formControlName="prenom">
            </div>

            <!-- cin -->
            <div class="col-md-6">
                <label class="form-label">Carte d'identité nationale</label>
                <input type="number" class="form-control" formControlName="cin" readonly>
            </div>

            <div class="col-md-6">
                <label class="form-label">Date de naissance</label>
                <input class="form-control" type="date" formControlName="dateNaissance">
            </div>

            <div class="col-md-6">
                <label class="form-label">Université</label>
                <select class="form-select" id="exampleInputEcole" formControlName="universite">
                    <option *ngFor="let universite of listUniversite" [value]="universite.idUniversite">{{ universite.nomUniversite }}</option>
                </select>
            </div>

            <!-- Email id -->
            <div class="col-md-6">
                <label class="form-label">Adresse e-mail</label>
                <input class="form-control" type="email" formControlName="email">
            </div>


            <!-- Save button -->
            <div class="d-sm-flex justify-content-end">
                <button type="submit" class="btn btn-primary mb-0">Save changes</button>
            </div>
        </form>
    </div>
    <!-- Card body END -->
</div>
<!-- Edit profile END -->

<br><br>
<!-- Password change START -->
<div class="col-lg-12">
    <div class="card border bg-transparent rounded-3">
        <!-- Card header -->
        <div class="card-header bg-transparent border-bottom">
            <h5 class="card-header-title mb-0">Mettre à jour le mot de passe</h5>
        </div>
        <!-- Card body START -->
        <form class="card-body" [formGroup]="updateForm" (ngSubmit)="updatePassword()">
            <!-- New password -->
            <div class="mb-3">
                <label class="form-label" for="inputPassword5">Mot de passe</label>
                <div class="input-group">
                    <input class="form-control" type="password" placeholder="*********" id="inputPassword5" formControlName="password">
                    <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"
                        onclick="Changer()"><i class="far fa-eye cursor-pointer p-2 w-40px"></i></span>
                </div>
            </div>
            <!-- Button -->
            <div class="d-flex justify-content-end mt-4">
                <button type="submit" class="btn btn-primary mb-0">Changer le mot de passe</button>
            </div>
        </form>
        <!-- Card body END -->
    </div>
</div>
<!-- Password change end -->