<div class="container  custumer-container mt-5">
    <div class="card p-3 w-75">
        <table class="table w-100 custumer_table">
            <thead>
                <tr>
                    <th scope="col">id foyer</th>
                    <th scope="col">Nom Foyer</th>
                    <th scope="col">Capacité</th>
                    <th scope="col">Actions</th>

                </tr>
            </thead>
            <tbody *ngFor="let item of ListeFoyer">
                <tr>
                    <th scope="row">{{item.idFoyer}}</th>
                    <td>{{item.nomFoyer}}</td>
                    <td>{{item.capaciteFoyer}}</td>
                    <td>

                        <div class="custumer_action">
                            <button class="custumer_btn" (click)="updateFoyer(item.idFoyer)">
                                <i class="bi bi-pencil mx-2"></i> Update</button>
                            <button class="custumer_btn" (click)="supprimerFoyer(item.idFoyer)"><i
                                    class="bi bi-trash red-icon mx-2"></i>
                                Delete</button>
                            <button class="custumer_btn" (click)="voirDetails(item.idFoyer)"> <i
                                    class="bi bi-info-circle mx-2"></i>datails</button>

                        </div>

                    </td>


                </tr>

            </tbody>
        </table>

    </div>

</div>