<div class="table-container">
  <!-- Table view -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Room Number</th>
        <th scope="col">Block Name</th>
        <th scope="col">Type</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let chambre of chambres">
        <th scope="row">{{ chambre.idChambre }}</th>
        <td>{{ chambre.numeroChambre }}</td>
        <td>{{ chambre.bloc.nomBloc }}</td>
        <td>{{ chambre.typeC }}</td>
        <td>
          <!-- Details btn-->
          <i
            class="fas fa-eye me-2"
            title="Display"
            style="color: blue; cursor: pointer"
            (click)="viewChambreDetails(chambre)"
          ></i>
          <!-- Delete btn-->
          <i
            class="fas fa-trash-alt me-2"
            title="Delete"
            style="color: red; cursor: pointer"
            (click)="deleteChambre(chambre.idChambre)"
          ></i>
          <!-- Update btn-->
          <i
            class="fas fa-pencil-alt"
            title="Update"
            style="color: green; cursor: pointer"
            (click)="updateChambreDetails(chambre)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Button to add a room -->
  <button class="btn btn-primary mt-3" (click)="addChambre()">Add Room</button>

  <!-- Form to show room -->
  <div *ngIf="showRoomForm">
    <h4>Show Room Details</h4>
    <form>
      <!-- roomNumber -->
      <div class="mb-3">
        <label for="roomNumber" class="form-label">Room Number</label>
        <input
          type="text"
          class="form-control"
          id="roomNumber"
          [(ngModel)]="selectedRoom!.numeroChambre"
          [value]="selectedRoom?.numeroChambre || '-'"
          name="roomNumber"
          readonly
        />
      </div>
      <!-- TypeC -->
      <div class="mb-3">
        <label for="typeC" class="form-label">Type</label>
        <select
          class="form-control"
          id="typeC"
          name="typeC"
          [(ngModel)]="selectedRoom!.typeC"
          readonly
        >
          <option *ngFor="let type of typeChambreEnum" [value]="type">
            {{ type }}
          </option>
        </select>
      </div>

      <!-- blockName -->
      <div class="mb-3">
        <label for="blockName" class="form-label">Block Name</label>
        <select
          class="form-control"
          id="blockName"
          name="blockName"
          [(ngModel)]="selectedRoom!.bloc!.nomBloc"
          readonly
        >
          <option
            *ngFor="let block of blocks"
            [ngValue]="block.nomBloc"
            [attr.selected]="
              block.nomBloc === selectedRoom?.bloc?.nomBloc ? true : null
            "
            readonly
          >
            {{ block.nomBloc }}
          </option>
        </select>
      </div>
      <!-- btn -->
      <button
        type="button"
        class="btn btn-secondary ms-2"
        (click)="cancelAddChambre()"
      >
        Cancel
      </button>
    </form>
  </div>

  <!-- Add Room -->
  <div *ngIf="showAddRoomForm">
    <h4>Add New Room</h4>

    <form (ngSubmit)="addChambre()">
      <!-- roomNumber -->
      <div class="mb-3">
        <label for="roomNumber" class="form-label">Room Number</label>
        <div class="col-sm-2">
          <input
            type="text"
            class="form-control"
            id="roomNumber"
            [(ngModel)]="newRoom.numeroChambre"
            name="roomNumber"
          />
        </div>
      </div>
      <!-- TypeC -->
      <div class="mb-3">
        <label for="typeC" class="form-label">Type</label>

        <div class="col-sm-2">
          <select
            class="form-control"
            id="typeC"
            name="typeC"
            [(ngModel)]="newRoom.typeC"
          >
            <option *ngFor="let type of typeChambreEnum" [value]="type">
              {{ type }}
            </option>
          </select>
        </div>
      </div>
      <!-- blockName -->
      <div class="mb-3">
        <label for="blockName" class="form-label">Block Name</label>

        <div class="col-sm-2">
          <select
            class="form-control"
            id="blockName"
            name="blockName"
            [(ngModel)]="newRoom.bloc"
          >
            <option *ngFor="let block of blocks" [ngValue]="block">
              {{ block.nomBloc }}
            </option>
          </select>
        </div>
      </div>
      <!-- btn -->
      <button type="submit" class="btn btn-success">Add</button>
      <button
        type="button"
        class="btn btn-secondary ms-2"
        (click)="cancelAddChambre()"
      >
        Cancel
      </button>
    </form>
  </div>

  <!-- update Room -->
  <div *ngIf="showUpdateRoomForm">
    <h4>Update the Room Details</h4>

    <form (submit)="updateRoom()">
      <!-- roomNumber -->
      <div class="mb-3">
        <label for="roomNumber" class="form-label">Room Number</label>
        <input
          type="text"
          class="form-control"
          id="roomNumber"
          [(ngModel)]="selectedRoom!.numeroChambre"
          [value]="selectedRoom?.numeroChambre || '-'"
          name="roomNumber"
        />
      </div>
      <!-- TypeC -->
      <div class="mb-3">
        <label for="typeC" class="form-label">Type</label>
        <select
          class="form-control"
          id="typeC"
          name="typeC"
          [(ngModel)]="selectedRoom!.typeC"
        >
          <option *ngFor="let type of typeChambreEnum" [value]="type">
            {{ type }}
          </option>
        </select>
      </div>

      <!-- blockName -->
      <div class="mb-3">
        <label for="blockName" class="form-label">Block Name</label>
        <select
          class="form-control"
          id="blockName"
          name="blockName"
          [(ngModel)]="selectedRoom!.bloc!.nomBloc"
        >
          <option
            *ngFor="let block of blocks"
            [ngValue]="block.nomBloc"
            [attr.selected]="
              block.nomBloc === selectedRoom?.bloc?.nomBloc ? true : null
            "
          >
            {{ block.nomBloc }}
          </option>
        </select>
      </div>
      <!-- btn -->
      <button type="submit" class="btn btn-success">Update</button>
      <button
        type="button"
        class="btn btn-secondary ms-2"
        (click)="cancelAddChambre()"
      >
        Cancel
      </button>
    </form>
  </div>
</div>
